.carousel-status{
    display: none;
}
.carousel .thumbs-wrapper{
    display: none;
}
.carousel-root{
    height: 90vh;
}
.carousel{
    position: static;
}
.carusel-div {
    height: 90vh;
    img{
        width: 100%; 
    }
}